# Cloudant database credentials
CLOUDANT_INSTANCE=""
CLOUDANT_USERNAME=""
CLOUDANT_PASSWORD=""

# Cloudant databases
CLOUDANT_SUBSCRIBERS_DATABASE="subscribers"
CLOUDANT_SUBSCRIBER_LOGS_DATABASE="subscribers_logs"
CLOUDANT_PUBLISHED_MESSAGES_DATABASE="published_messages"