# Cloudant database credentials
CLOUDANT_INSTANCE=""
CLOUDANT_USERNAME=""
CLOUDANT_PASSWORD=""

# Cloudant databases
CLOUDANT_SUBSCRIBER_DATABASE="subscribers"
CLOUDANT_SUBSCRIBED_TOPICS_DATABASE="subscribed_topics"
CLOUDANT_SUBSCRIBER_LOGS_DATABASE="subscribers_logs"
CLOUDANT_PUBLISHED_MESSAGES_DATABASE="published_messages"
CLOUDANT_PUBLISHED_MESSAGES_BC_DATABASE="published_messages_bc"
CLOUDANT_PREDICATES_SUBSCRIBERS_DATABASE="subscribed_predicates"

# OpenWhisk Credentials
OPENWHISK_USER_NAME=""
OPENWHISK_PASSWORD=""
OPENWHISK_NAMESPACE=""
OPENWHISK_SPACE=""
OPENWHISK_ORG=""
OPENWHISK_API_KEY=""
OPENWHISK_UK="api.eu-gb.bluemix.net"
OPENWHISK_US="api.ng.bluemix.net"
OPENWHISK_DE="openwhisk.eu-de.bluemix.net"

# Watson IoT Credentials
WATSON_IOT_ORG=""
WATSON_IOT_APPLICATION_TYPE=""
WATSON_IOT_API_USERNAME=""
WATSON_IOT_API_PASSWORD=""
